@{
    ViewData["Title"] = "Home Page";
}
<section class="container-fluid" id="section_0">
    <div class="jumbotron jumbotron-fluid jumbotron-video">
        <div class="container-fluid">
            <video loop muted autoplay preload="auto" class="">
                <source src="~/assest/videos/video.mp4" type="video/mp4" />
            </video>
        </div>
        <div class="container">
            <h1 class="display-4 text-center text-warning fw-bold">Generative AI Technology</h1>
            <p class="lead text-center text-white fw-bold">
                Any time an AI technology is generating something on its own, it can be referred to as "generative AI." This umbrella term includes learning algorithms that make predictions as well as those that can use prompts to autonomously write articles and paint pictures.
                <i> Techopedia</i>
            </p>
        </div>
    </div>
    <hr class=" border border-primary border-5 opacity-100 my-4 mt-2 mb-1 ">
   <div class="container-fluid" id="main_section" >
        <div class="container-fluid mt-3 " id="section_1">
            <div class="row ">
                <div class="col-md-6 ">
                    <!-- First container -->
                    <div class="container ">
                        <!-- Content for the first container goes here -->
                        <h2 class="text-warning fw-bold">GenAI Tools</h2>
                        <p class="text-white">
                            Generative AI tools refer to software or systems that use neural network techniques to process and comprehend input data, subsequently producing meaningful responses.
                            <i>
                                Scribehow
                            </i>

                            <button type="button" class="btn btn-light">Read More</button>

                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <!-- Second container -->
                    <div class="container">
                        <!-- Content for the second container goes here -->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-body">
                                        <img src=".\assest/images/genai/bard_thumbnail.jpg" alt="Image" class="img-fluid" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-body">
                                        <img src=".\assest/images/genai/midjourney_thumbnail.jpg" alt="Image" class="img-fluid" />
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <hr class=" border border-primary border-5 opacity-100 my-4 mt-2 mb-1 ">
        <div class="container-fluid" id="section_2">
            <div class="row">

                <div class="col-md-6">
                    <!-- Second container -->
                    <div class="container">
                        <!-- Content for the second container goes here -->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card bg-light ">
                                    <div class="card-body">
                                        <img src=".\assest/images/genai/ms_thumbnail.jpg" alt="Image" class="img-fluid" />

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                               <div class="card" >
                                    <div class="card-body">
                                        <img src=".\assest/images/genai/google_thumbnail.jpg" alt="Image" class="img-fluid" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-6 mt-2 ">
                    <!-- First container -->
                    <div class="container ">
                        <!-- Content for the first container goes here -->
                        <h2 class="text-warning fw-bold">GenAI Organization</h2>
                        <p class ="text-white">
                            Generative AI Organizations like Microsoft, Google, Amazon and IBM have invested hundreds of millions of dollars and massive compute power to build the foundational models on which services like ChatGPT and others depend.
                            <i>
                                Gartner
                            </i>

                            <button type="button" class="btn btn-light">Read More</button>

                        </p>
                    </div>
                </div>

            </div>
        </div>
        <hr class=" border border-primary border-5 opacity-100 my-4 mt-2 mb-1 ">
        <div class="container-fluid" id="section_3">
            <div class="row">
                <div class="col-md-6">
                    <!-- First container -->
                    <div class="container ">
                        <!-- Content for the first container goes here -->
                        <h2 class="text-warning fw-bold">
                            GenAI Applications
                        </h2>
                        <p class="text-white text-lg-start ">
                            <b>Text:</b> GPT-3, LaMDA, LLaMA, BLOOM and GPT-4.<br />
                            <b> Code:</b> OpenAI Codex.<br />
                            <b>Images: </b>DALL-E, Midjourney and Stable Diffusion.<br />
                            <b>Video:</b> Make-A-Video (Meta Platforms).<br />
                            <i>Wikipedia</i>

                            <button type="button" class="btn btn-light">Read More</button>

                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <!-- Second container -->
                    <div class="container">
                        <!-- Content for the second container goes here -->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-body">
                                        <img src=".\assest/images/genai/chatgpt_thumbnail.jpg" class="img-fluid" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card">
                                <div class="card-body">
                                        <img src=".\assest/images/genai/dalle_thumbnail.jpg" class="img-fluid" />
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class=" border border-primary border-5 opacity-100 my-4 mt-2 mb-1 ">
        <div class="container-fluid" id="section_4">
            <div class="row">
                <div class="col-md-6">
                    <!-- Second container -->
                    <div class="container">
                        <!-- Content for the second container goes here -->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-body">
                                        <img src=".\assest/images/genaisites/pie.jpg" alt="Image" class="img-fluid" />

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-body">
                                        <img src=".\assest/images/genaisites/job.jpg" alt="Image" class="img-fluid" />
                                
                                    </div>
                                    </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-6 mt-2 ">
                    <!-- First container -->
                    <div class="container ">
                        <!-- Content for the first container goes here -->
                        <h2 class="text-warning fw-bold">
                            AI Jobs
                        </h2>
                        <p class="text-white">
                            The prime source for jobs and talents in AI, ML, Data Science and
                            Big Data: <a href="https://ai-jobs.net/" Insights AI-Jobs class="badge badge-light">Insights AI-Jobs</a>
                            Python source for tables and charts: <a href="https://www.kaggle.com/code/sowrabhghosh/data-science-salary-2020-22-analysis
" class="badge badge-light">Kaggle</a>


                            <button type="button" class="btn btn-light">Read More</button>

                        </p>s
                    </div>
                </div>

            </div>
        </div>
        <hr class=" border border-primary border-5 opacity-100 my-4 mt-2 mb-1 ">
        <div class="container-fluid mb-4 w-50 " id="section_5">
            <h1 class="display-4 text-center text-warning fw-bold">List of Generative AI Websites </h1>
            <p class="text-white text-center ">
                <i>
                    Please  <u class="text-danger">
                        <a class="text-reset" asp-area="Identity" asp-page="/Account/Register">Register</a>
                    </u> or
                    <u class="text-danger" >
                        <a class="text-reset" asp-area="Identity" asp-page="/Account/Login">Login</a>
                    </u> to add a new generative AI Website
                </i>
            </p>
        </div>
        <hr class=" border border-primary border-5 opacity-100 my-4 mt-2 mb-1 ">
    </div>
  
</section>
